<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Escribe tu email">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Escribe tu contraseña">
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Ingresar</button>
    </div>
</form>

<app-error-component [errorMessage]="errorMessage"></app-error-component>